<nav role="navigation" class="witch-nav">
    <div id="menuToggle">
        <input type="checkbox" />

        <span class="burger-button"></span>
        <span class="burger-button"></span>
        <span class="burger-button"></span>

        <ul id="menu">
            <a href="#">
                <li>Accueil</li>
            </a>
            <a href="{{ path('product') }}">
                <li>
                    Produit Emoji
                </li>
            </a>
            <a href="{{ path('clock') }}">
                <li>
                    Horloge
                </li>
            </a>
            <a href="{{ path('bad_trip') }}">
                <li>
                    Bad trip
                </li>
            </a>
            <a href="{{ path('text_perspective') }}">
                <li>
                    Text Perspective
                </li>
            </a>
            <a href="{{ path('block') }}">
                <li>
                    Carrés
                </li>
            </a>
            <a href="{{ path('buttons') }}">
                <li>
                    Boutons
                </li>
            </a>
        </ul>
    </div>
</nav>